.container input{
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin-left: 50vh;
    margin-right: 50vh;
    padding: 2vh;
}

.container textarea{
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin-left: 50vh;
    margin-right: 50vh;
    padding: 2vh;
}

.container label{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top: 1rem;

}

.container button{
    margin-top: 1rem;
    padding: 2.5vh;
}

