.NavPosition{
    display: flex;
    justify-content: space-evenly;
    margin: 20vh 20vh;
    text-decoration: none;
    background-color: rgb(190, 181, 181);
}

.linkHome{
    width: 10vh;
    height: 10vh;
}

.Navlink{
    align-items: center;
    padding: 20px 50px;
}

.NavLign{
    margin-top: 40px;
    color: whitesmoke;
    list-style: none;
}