.NavPosition{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh;
    text-decoration: none;
    background-color: rgb(212, 199, 199);
}

.linkHome{
    width: 10vh;
    height: 10vh;
}

.Navlink{
    align-items: center;
    padding: 20px;
}

.NavLign{
    margin-top: 40px;
    color: whitesmoke;
    list-style: none;
}