.NavPosition{
    display: flex;
    justify-content: space-between;
    margin: 5vh;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    background-color: rgb(212, 199, 199);
}

.linkHome{
    width: 10vh;
    height: 10vh;
    background-color: sandybrown;
}

.Navlink{
    align-items: center;
    padding: 20px;
    background-color: slateblue;
}

.NavLign{
    margin-top: 30px;
    color: whitesmoke;
    justify-content: flex-start;
    list-style: none;
    font-size: 1.3rem;
    margin-left: 0px;
}

.NavLign:hover{
    background-color: salmon;
}

a:link {
    color: rgb(32, 78, 178);
    text-decoration: none;
}

.activeNav{
    color: salmon;
}

